.carousel{
  background: url(/static/images/left-bottom-tech.png) left bottom/395px 505px no-repeat,url(/static/images/right-top-tech.png) right top/contain no-repeat;
  background-color: #355EA6;
  .banner-wrap{
    height: 640px;
    width: 1200px;
    padding-left: 30px;
    h1 {
      margin-top: 193px;
      margin-bottom: 20px;
      height:48px;
      font-size:48px;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(255,255,255,1);
    }
    .we-can {
      width: 185px;
      height:35px;
      margin-top: 36px;
      line-height: 35px;
      font-size:23px;
      font-family:Source Han Sans CN;
      margin-bottom: 14px;
      font-weight:400;
      color:rgba(255,255,255,1);
      margin-right: 10px;
    }
    .buttons{
      margin-top: 30px;
      a{
        position: relative;
        overflow: hidden;
        display: inline-block;
        width:158px;
        height:54px;
        border-radius:27px;
        font-size:24px;
        font-family:Source Han Sans CN;
        font-weight:bold;
        text-align: center;
        line-height: 54px;
        text-decoration: none;
      }

      a:before{
        position: absolute;
        background-color: #fff;
        content: '.';
        height: 100%;
        width: 6px;
        left: -20px;
        top: 0px;
        font-size: 0px;
        transform: skew(-20deg, 0);
        transition: all .2s ease-in-out;
      }

      a:hover:before{
        left: 120%;
      }

      .watch-video {
        background-color: #fff;
        color:rgba(60,141,210,1);
      }
      .more {
        border:2px solid rgba(255,255,255,1);
        color: #fff;
        // margin-left: 26px;
      }
    }

    //.banner-item{
    //
    //}
    //:global(.slick-list){
    //  width: 100%;
    //}
  }

  :global(.td-dot){
    bottom: 10px;
  }
}

@import '../../pages/var.less';

@media screen and (max-width: @MATCH_WIDTH) {
  .carousel {
    .banner-wrap {
      height: 7.6rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0px;
      h1 {
        margin-top: 1.41rem;
        font-size: 20px;
      }
      .we-can {
        font-size: 14px;
        text-align: center;
        margin-top: 0;
        // margin-top: 0.5rem;
        // margin-bottom: 0.1rem;
      }
      .buttons {
        a {
          width: 2.64rem;
          height: 0.69rem;
          box-sizing: border-box;
          line-height: 0.69rem;
          font-size: 14px;
        }
      }
    }
  }

}
