.banner {
  height: 450px;
  background: url(http://img.teddymobile.cn/www/images/news/banner.png) no-repeat;
  background-size: 100% 450px;
  &__text {
    font-size: 40px;
    color: #fff;
    line-height: 450px;
  }
}
body {
  background-color: #f1f2f3;
}
.news {
  margin-top: 30px;

  &__detail {
    // width: 930px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 90px;
    &__title {
      color: #333333;
      font-size: 26px;
      margin-top: 20px;
    }
    &__company {
      margin-top: 20px;
      color: #999999;
      font-size: 16px;
      img {
        width: 29px;
        height: 24px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    &__content {
      margin-top: 30px;
    }
    //.news-container{
    //  box-sizing: border-box;
    //  max-width: 1200px;
    //  max-width: 100%;
    //  min-height: 100%;
    //  margin: 60px auto 0 ;
    //  padding: 30px 20px;
    //  overflow: hidden;
    //  background-color: #fff;
    //
    //  :global(p){
    //    white-space: pre-wrap;
    //    min-height: 1em;
    //    margin: 0;
    //    line-height: 30px;
    //  }
    //  :global( ol){
    //    list-style:decimal;
    //    margin-left: 1em
    //  }
    //
    //  :global(ul){
    //      list-style: disc;
    //      margin-left: 1em
    //  }
    //
    //  :global(img, audio, video) {
    //    max-width: 100%;
    //    height: auto;
    //  }
    //  :global(pre){
    //    padding: 15px;
    //    background-color: #f1f1f1;
    //    border-radius: 5px;
    //  }
    //  :global(blockquote){
    //    margin: 0;
    //    padding: 15px;
    //    background-color: #f1f1f1;
    //    border-left: 3px solid #d1d1d1;
    //  }
    //}

  }
}
@import '../common.less';
@import '../var.less';

@media screen and (max-width: @MATCH_WIDTH) {

  .news {
    &__detail {
      margin-bottom: 1.07rem;
      padding-left: 0.8rem;
      &__content {
        margin-top: 0.8rem;
      }
    }
  }
}
