.banner {
  height: 450px;
  background: url(http://img.teddymobile.cn/www/images/join/banner.png) no-repeat;
  background-size: 100% 450px;
  &__text {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 450px;
  }
}

.positions {
  &__header {
    height: 64px;
    background: #F7F7F7;
    box-sizing: border-box;
    .tab-bar {
      &__item {
        float: left;
        height: 100%;
        line-height: 64px;
        color: #999999;
        font-size: 20px;
        width: 200px;
        text-align: center;
        cursor: pointer;
        &.active {
          background-color: #fff;
          border-bottom: 4px solid #355EA6;
          line-height: 60px;
        }
      }
    }
  }

  &__content {
    background: #fff;
    padding: 90px 0;
    .tab-bar__content {
      margin-right: -30px;
      margin-bottom: -30px;
      li {
        background: #F7F7F7;
        width: 380px;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        p.title {
          font-size: 20px;
          color: #999999;
          line-height: 56px;
          height: 56px;
          width: 100%;
          text-align: center;
          display: inline-block;
          cursor: pointer;
          &:hover {
            color: #355EA6;
            box-shadow: 1px 0px 10px rgba(0, 0, 0, .2);
          }
        }
        .tab-bar__content__item__detail{
          .work-place,.work-duty,.work-require {
            padding:0 20px;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          .work-place-content,.work-duty-content,.work-require-content{
            padding:0 20px;
            color:#666;
            line-height: 20px;
            margin-bottom: 20px;
            word-break: break-all;
            white-space: break-spaces;
          }
        }
      }
    }
  }
}

@import '../var.less';

@media screen and (max-width: @MATCH_WIDTH) {
  .banner {
    height: 5.54rem;
    //background-size: 100% 5.54rem;
    background-size: cover;
    background-position: center center;
    &__text {
      margin-left: 1.15rem;
      font-size: 0.53rem;
      line-height: 5.54rem;
    }
  }
  .positions {
    &__header {
      height: auto;
      .tab-bar {
        &__item {
          padding: 0 0.51rem;
          background-color: #fff;
          width: 100%;
          line-height: 1.33rem;
          font-size: 0.43rem;
          text-align: left;
          border-bottom: 0.05rem solid #D8D8D8;
          &.active {
            border-bottom: none;
            line-height: 1.33rem;
            background-color: #F7F7F7;
          }
        }

      }
    }
    &__content {
      padding: 0.91rem 0;
      .tab-bar__content {
        //display: grid;
        //grid-template-columns: 1fr 1fr;
        //grid-row-gap: 0.53rem;
        padding: 0 0.51rem;
        margin-right: 0;
        margin-bottom: 0;
        //&:before {
        //  display: none;
        //}
        //&:after {
        //  display: none;
        //}
        li {
          width: 100%;
          //margin-bottom: 0;
          //margin-right: 0;
          margin: 3px;
          .tab-bar__content__item__detail{
            .work-place,.work-duty,.work-require {
              padding:0 20px;
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 10px;
              margin-top: 10px;
            }
            .work-place-content,.work-duty-content,.work-require-content{
              padding:0 20px;
              color:#666;
              font-size: 12px;
              line-height: 20px;
              margin-bottom: 20px;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}
