.company-logo {
  display: inline-block;
  width: 16.66%;
  min-width: 200px;
  height: 159px;
  text-align: center;
  line-height: 159px;
  // box-sizing: border-box;
  // padding: 40px 0;
  vertical-align: middle;
  img {
    // width: 150px;
    // display: inline-block;
    // vertical-align: middle;
    // height: 100%;
    // width: 100%;
    width: 170px;
    height: 100px;
    margin-top: 29.5px;
  }
}

@import '../../pages/var.less';

@media screen and (max-width: @MATCH_WIDTH) {
  .company-logo {
    min-width: auto;
    width: 3.33rem;
    height: 1.97rem;
    line-height: 1.97rem;
    padding: 0;
    img {
      width: 2.6rem;
      height: 1.27rem;
      margin-top: 0.35rem;
    }
  }
}
