.company-logo {
  display: inline-block;
  width: 16.66%;
  min-width: 200px;
  height: 159px;
  text-align: center;
  line-height: 159px;
  img {
    width: 222px;
    height: 125px;
    display: inline-block;
    vertical-align: middle;
  }
}
