.banner {
  height: 450px;
  background: url(/static/images/solution/banner.png) no-repeat;
  background-size: 100% 450px;
  &__text {
    font-size: 40px;
    color: #fff;
    line-height: 450px;
    white-space: nowrap;
  }
}
.solution {
  background: #fff;
  padding: 90px 0;
  &__tab-bar {
    margin: 0 auto;
  }
}

.partner {
  margin-bottom: 60px;
  &__list {
    margin-right: -70px;
    margin-left: 140px;
    &__item {
      width: 260px;
      height: 120px;
      background:#fff;
      box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
      border-radius: 3px;
      text-align: center;
      margin-right: 70px;
      margin-bottom: 36px;
      float: left;
      &__img {
        width: 184px;
        height: 52px;
        margin-top: 34px;
      }
    }
  }
}