@import '../common.less';
.banner {
  height: 450px;
  background: url(/static/images/solution/banner.png) no-repeat;
  background-size: 100% 450px;
  &__text {
    font-size: 40px;
    color: #fff;
    line-height: 450px;
  }
}
.solution {
  background: #fff;
  padding: 90px 0;
  &__tab-bar {
    margin: 0 auto;
  }
  &__content {
    margin-top: 90px;
    &__slider{
      width: 520px;
      float: left;
    }
    &__img {
      width: 253px !important;
      height: 511px;
      // float: left;
      margin-right: 14px;
    }
    &__img:last-child {
      margin-right: 0;
    }

    &__info {
      float: left;
      margin-left: 65px;
      width: 463px;
      .info__list {
        &__item {
          margin-bottom: 40px;
          &__img {
            font-size: 20px;
            color: #355EA6;
            margin-bottom: 30px;
            img {
              width: 36px;
              height: 35px;
              vertical-align: middle;
              margin-right: 10px;
            }
          }
          &__desc {
            color: #666;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
      &__btn {
        width: 187px;
        height: 46px;
        background: rgba(53,94,166,1);
        border-radius: 28px;
        color: #fff;
        font-size: 20px;
        line-height: 46px;
        text-align: center;
      }
    }
  }
}

.partner {
  margin-bottom: 60px;
  &__list {
    margin-right: -70px;
    margin-left: 140px;
    &__item {
      width: 260px;
      height: 120px;
      background:#fff;
      box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);
      border-radius: 3px;
      text-align: center;
      margin-right: 70px;
      margin-bottom: 36px;
      line-height: 120px;
      float: left;
      &:first-child {
        .partner__list__item__img {
          width: 251px;
          height: 120px;
        }
      }
      &:nth-child(2) {
        .partner__list__item__img {
          width: 103px;
          height: 57px;
        }
      }
      &:nth-child(3) {
        .partner__list__item__img {
          width: 154px;
          height: 49px;
        }
      }
      &:nth-child(4) {
        .partner__list__item__img {
          width: 194px;
          height: 55px;
        }
      }
      &:nth-child(5) {
        .partner__list__item__img {
          width: 73px;
          height: 73px;
        }
      }
      &:nth-child(6) {
        .partner__list__item__img {
          width: 132px;
          height: 62px;
        }
      }
      &:nth-child(7) {
        .partner__list__item__img {
          width: 153px;
          height: 73px;
        }
      }
      &:nth-child(8) {
        .partner__list__item__img {
          width: 139px;
          height: 105px;
        }
      }
      &:nth-child(9) {
        .partner__list__item__img {
          width: 169px;
          height: 95px;
        }
      }
      &__img {
        // width: 184px;
        // height: 52px;
        vertical-align: middle;
      }
    }
  }
}
:global(.solution-desc__content){
  :global(p) {
    position: relative;
  }
  :global(p:before){
    content: '';
    position: absolute;
    top: 0.2rem;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
  }
}
@import './match.less';