.banner {
  height: 450px;
  background: url(/static/images/numberSign/banner.png) no-repeat;
  background-size: 100% 450px;
  &__text {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 450px;
  }
}

.sign {
  margin-right: -20px;
  margin-top: 90px;
  margin-bottom: 1200px;
  &__item {
    float: left;
    width: 590px;
    height: 174px;
    background:#fff;
    border-radius: 3px;
    border: 1px solid #D8D8D8;
    padding: 26px 30px 30px 20px;
    box-sizing: border-box;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img {
      width: 80px;
      height: 80px;
    }
    &__info {
      flex: 1;
      margin: 0 51px 0 38px;
      &__title {
        color: #333;
        font-size: 20px;
      }
      &__desc {
        color: #666;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
      }
    }
    &__btn {
      width: 130px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      border-radius: 3px;
      color: #fff;
      font-size: 18px;
      background: #355EA6;
    }
  }
}