.banner {
  width: 100%;
  height: 450px;
  background: linear-gradient(270deg,rgba(50,84,163,1) 0%,rgba(30,54,116,1) 100%);
  position: relative;
  &-content {
    position: relative;
    height: 100%;

  }
  &__desc {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    //height: 100px;
    color: #fff;
    &__title {
      margin-top: 140px;
      font-size: 48px;
      font-family: "Source Han Sans CN";
      font-weight: 400;
    }
    &__content {
      font-size: 23px;
      font-family: "Source Han Sans CN";
      font-weight: 400;
      margin-top: 50px;
      width: 580px;
      line-height: 2;
    }
    .buttons{
      //display: flex;
      //align-items: center;
      margin-top: 30px;
      a{
        position: relative;
        overflow: hidden;
        display: inline-block;
        box-sizing: border-box;
        width:110px;
        height:33px;
        border-radius:27px;
        font-size:17px;
        font-family:Source Han Sans CN;
        cursor: pointer;
        margin-right: 20px;
        font-weight:bold;
        text-align: center;
        line-height: 33px;
        text-decoration: none;
      }

      a:before{
        position: absolute;
        background-color: #fff;
        content: '.';
        height: 100%;
        width: 6px;
        left: -20px;
        top: 0px;
        font-size: 0px;
        transform: skew(-20deg, 0);
        transition: all .2s ease-in-out;
      }

      a:hover:before{
        left: 120%;
      }

      .watch-video {
        background-color: #fff;
        color:rgba(60,141,210,1);
      }
      .more {
        border:2px solid rgba(255,255,255,1);
        color: #fff;
        cursor: pointer;
        // margin-left: 26px;
      }
    }

  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 299px;
    margin: auto;
  }
}
.dsp-banner {
  .banner__img {
    width: 397px;
    height: 383px;
  }
}
@import './match.less';
