.core-content {
  &__list {
    float: left;
    margin-top: 30px;
  }
  &>img {
    width: 296px;
    height: 600px;
    float: left;
  }
  &__item {
    width: 566px;
    padding: 15px 0;
    margin-bottom: 75px;
    &.active {
      background:rgba(255,255,255,1);
      box-shadow:0px 4px 15px 0px rgba(0,0,0,0.1);
      border-radius: 10px;
      margin-bottom: 55px;
      padding: 15px 15px 15px 0px;
      img {
        height: 59px;
        width: 59px;
      }
      p {
        line-height: 59px;
      }
    }
    &__img-wrap {
      float: left;
      width: 106px;
      text-align: center;
    }
    img {
      width: 45px;
      height: 45px;
    }
    &__text {
      float: left;
      color: #333;
      font-size: 18px;
      line-height: 45px;
      max-width: 445px;
    }
  }
}

.scenic-core {
  &>img {
    margin-right: 89px;
  }
  .core-content__item {
    padding-left: 23px;
    &:nth-child(2) {
      img {
        margin-top: 50px;
      }
    }
  }
}
.quick-app-core {
  .core-content__list {
    margin-top: 0;
  }
  &>img {
    width: 358px;
    height: 726px;
    margin-right: 115px;
    margin-top: 30px;
  }
}

@import '../../pages/var.less';
@media screen and (max-width: @MATCH_WIDTH) {
  .core-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      margin-top: 1.12rem !important;
    }
    &__item {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.64rem;
      padding: 0;
      &__img-wrap {
        width: auto;
      }
      &.active {
        padding: 0;
        box-shadow: none;
        background: none;
        margin-bottom: 0.64rem;
        p {
          line-height: initial;
        }
      }
      &__text {
        font-size: 0.37rem;
        line-height: 0.69rem;
      }
    }
  }

  .dsp-core {
    .core-content__item:first-child {
      img {
        width: 0.85rem;
        height: 0.56rem;
        margin-right: 0.21rem;
      }
    }
    .core-content__item:nth-child(2) {
      img {
        width: 0.64rem;
        height: 0.64rem;
        margin-right: 0.29rem;
      }
    }
    .core-content__item:last-child {
      margin-bottom: 0;
      img {
        width: 0.64rem;
        height: 0.56rem;
        margin-right: 0.21rem;
      }
    }
  }

  .scenic-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__list {
      padding: 0 0.83rem;
    }
    .core-content__item {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      img {
        width: 0.72rem;
        height: 0.72rem;
        margin-right: 0.13rem;
      }
      &:nth-child(2){
        img {
          margin-top: 0;
        }
      }
    }
  }

  .quick-app-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-top: 0;
      margin-right: 0;
    }
    .core-content__item {
      &__img-wrap {
        width: 1rem;
        text-align: left;
      }
      &:first-child{
        img {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      &:nth-child(2){
        img {
          width: 0.56rem;
          height: 0.56rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.67rem;
          height: 0.61rem;
        }
      }
      &:nth-child(4){
        img {
          width: 0.64rem;
          height: 0.56rem;
        }
      }
      &:nth-child(5){
        img {
          width: 0.64rem;
          height: 0.59rem;
        }
      }
      &:nth-child(6){
        img {
          width: 0.69rem;
          height: 0.61rem;
        }
      }
    }
  }
}