.core-content {
  &__list {
    float: left;
    margin-top: 30px;
  }
  .core-content__img {
    width: 296px;
    height: 600px;
    float: left;
    position: relative;
    &>img {
      width: 100%;
      height: 100%;
    }
    .high-light-image {
      width: 356px;
      height: 262px;
      position: absolute;
      left: -30px;
      top: 20px;
    }
  }
  .scenic-image {
    .high-light-image {
      width: 336px;
      height: 257px;
      left: -20px;
      top: 78px;
    }
  }
  .text-image {
    .high-light-image {
      width: 396px;
      height: 110px;
      left: -50px;
      top: 15px;
    }
  }
  .chatbot-image {
    .high-light-image {
      width: 356px;
      height: 85px;
      left: -30px;
      bottom: -10px;
      top: auto;
    }
  }
  .sms-highlight-1 {
    .high-light-image {
      width: 366px;
      height: 112px;
      left: -35px;
      top: 24px;
    }
  }
  .sms-highlight-2 {
    .high-light-image {
      width: 348px;
      height: 208px;
      left: -26px;
      top: 80px;
    }
  }
  .sms-highlight-3 {
    .high-light-image {
      width: 327px;
      height: 100px;
      left: -16px;
      top: 148px;
    }
  }
  .sms-highlight-4 {
    .high-light-image {
      width: 118px;
      height: 142px;
      left: 27px;
      top: auto;
      bottom: 40px;
    }
  }
  .sms-highlight-5 {
    .high-light-image {
      width: 327px;
      height: 80px;
      left: -16px;
      top: auto;
      bottom: 0;
    }
  }
  &__item {
    width: 566px;
    padding: 15px 0;
    margin-bottom: 55px;
    cursor: pointer;
    &.active {
      position: relative;
      background:rgba(255,255,255,1);
      box-shadow:0px 4px 15px 0px rgba(0,0,0,0.1);
      //box-shadow:-16px 4px 47px 0px rgba(0,0,0,0.1);
      border-radius: 10px;
      margin-bottom: 55px;
      padding: 15px 15px 15px 0px;
      &:before{
        display: block;
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-right:25px solid #fff;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
        top: 0;
        bottom: 0;
        margin: auto;
        left: -25px;
      }
      img {
        height: 59px;
        width: 59px;
      }
      p {
        // line-height: 59px;
      }
    }
    &__img-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 106px;
      text-align: center;
    }
    img {
      width: 59px;
      height: 59px;
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      color: #333;
      font-size: 18px;
      line-height: 45px;
      max-width: 445px;
    }
    &__text--match {
      display: none;
    }
  }
}

.scenic-core {
  .core-content__img {
    margin-right: 89px;
  }
  .core-content__list {
    margin-top: 0;
  }
  .core-content__item {
    padding-left: 23px;
    &:nth-child(2) {
      img {
        // margin-top: 50px;
      }
    }
  }
}
.quick-app-core {
  .core-content__list {
    margin-top: 0;
  }
  .core-content__img {
    width: 358px;
    height: 726px;
    margin-right: 115px;
    margin-top: 30px;
  }
}

.sms-core {
  .core-content__list {
    margin-top: 0;
  }
  .core-content__img {
    margin-right: 95px;
    margin-top: 45px;
  }
}

.number-product-core {
  margin-bottom: 90px;
  .core-content__list {
    margin-top: 105px;
  }
  .core-content__img {
    margin-right: 133px;
  }
}
.dsp-core {
  .core-content__list {
    margin-top: 105px;
    .core-content__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      &.active {
        img {
          width: 52px;
          height: 34px;
        }
      }
      &:nth-child(2) {
        img {
          width: 39px;
          height: 39px;
        }
      }
      &:nth-child(3) {
        img {
          width: 37px;
          height: 33px;
        }
      }
    }
  }
  &>img {
    margin-right: 133px;
  }
}

@import './match.less';
