@import '../../pages/var.less';
@media screen and (max-width: @MATCH_WIDTH) {
  .core-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.07rem;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
    .core-content__img {
      .high-light-image {
        width: 4.8rem;
        height: 4rem;
        position: absolute;
        left: -0.4rem;
        top: 0.2rem;
      }
    }
    .scenic-image {
      .high-light-image {
        width: 4.6rem;
        height: 4rem;
        left: -0.3rem;
        top: 1rem;
      }
    }
    .text-image {
      .high-light-image {
        width: 5rem;
        height: 1.5rem;
        left: -0.5rem;
        top: 0.1rem;
      }
    }
    .chatbot-image {
      .high-light-image {
        width: 4.6rem;
        height: 1.2rem;
        left: -0.3rem;
        bottom: -0.1rem;
        top: auto;
      }
    }
    .sms-highlight-1 {
      .high-light-image {
        width: 4.6rem;
        height: 1.2rem;
        left: -0.3rem;
        top: 0.18rem;
      }
    }
    .sms-highlight-2 {
      .high-light-image {
        width: 4.4rem;
        height: 2.6rem;
        left: -0.2rem;
        top: 1.4rem;
      }
    }
    .sms-highlight-3 {
      .high-light-image {
        width: 4.8rem;
        height: 1.2rem;
        left: -0.4rem;
        top: 3rem;
      }
    }
    .sms-highlight-4 {
      .high-light-image {
        width: 1.8rem;
        height: 2rem;
        left: 0.2rem;
        top: auto;
        bottom: 0.5rem;
      }
    }
    .sms-highlight-5 {
      .high-light-image {
        width: 4.4rem;
        height: 1rem;
        left: -0.2rem;
        top: auto;
        bottom: 0;
      }
    }
    &__list {
      width: 3.8rem;
      // margin-bottom: -0.64rem;
    }
    &__item {
      position: relative;
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.64rem;
      padding: 0;
      &:before{
        display: block;
        position: absolute;
        left: -25px;
        width: 25px;
        height: 25px;
        background-color: #fff;
      }
      &__img-wrap {
        width: auto;
      }
      &.active {
        padding: 0.2rem;
        margin-bottom: 0.64rem;
        &:before {
          // border-right: 0.5rem solid red;
          // border-bottom: 0.25rem solid transparent;
          // border-top: 0.25rem solid transparent;
          // left: -0.5rem;
          display: none;
        }
        p {
          line-height: initial;
        }
      }
      &__text {
        font-size: 0.37rem;
        line-height: 0.69rem;
        display: none;
      }
      &__text--match {
        font-size: 0.37rem;
        display: block;
      }
    }
  }

  .dsp-core {
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__list {
      .core-content__item {
        &__img-wrap {
          width: 1rem;
          text-align: left;
        }
        &:first-child {
          img {
            width: 0.85rem;
            height: 0.56rem;
          }
        }
        &:nth-child(2) {
          img {
            width: 0.64rem;
            height: 0.64rem;
          }
        }
        &:last-child {
          img {
            width: 0.64rem;
            height: 0.56rem;
          }
        }
      }
    }
  }

  .scenic-core {
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0.5rem;
    }
    .core-content__item {
      display: flex;
      flex-direction: row;
      padding-left: 0.2rem;
      margin-bottom: 1rem;
      img {
        width: 0.72rem;
        height: 0.72rem;
        margin-right: 0.13rem;
      }
      &:nth-child(2){
        img {
          margin-top: 0;
        }
      }
    }
  }

  .quick-app-core {
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-top: 0;
      margin-right: 0;
    }
    .core-content__item {
      &__img-wrap {
        width: 1rem;
        text-align: left;
      }
      &:first-child{
        img {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      &:nth-child(2){
        img {
          width: 0.56rem;
          height: 0.56rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.67rem;
          height: 0.61rem;
        }
      }
      &:nth-child(4){
        img {
          width: 0.64rem;
          height: 0.56rem;
        }
      }
      &:nth-child(5){
        img {
          width: 0.64rem;
          height: 0.59rem;
        }
      }
      &:nth-child(6){
        img {
          width: 0.69rem;
          height: 0.61rem;
        }
      }
    }
  }

  .sms-core {
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0.5rem;
      margin-top: 0;
    }
    .core-content__list {
      margin-bottom: 0;
    }
    .core-content__item {
      margin-bottom: 0.8rem;
      &__text {
        width: 7.33rem;
      }
      &__img-wrap {
        width: 1rem;
        text-align: left;
      }
      &:first-child{
        img {
          width: 0.72rem;
          height: 0.72rem;
        }
      }
      &:nth-child(2){
        img {
          width: 0.75rem;
          height: 0.56rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.61rem;
          height: 0.72rem;
        }
      }
      &:nth-child(4){
        img {
          width: 0.61rem;
          height: 0.67rem;
        }
      }
      &:nth-child(5){
        img {
          width: 0.67rem;
          height: 0.67rem;
        }
      }
    }
  }

  .number-product-core {
    margin-bottom: 1.07rem;
    .core-content__list {
      margin-top: 0;
    }
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0.5rem;
    }
    .core-content__item {
      display: flex;
      flex-direction: row;
      // padding-left: 0;
      img {
        width: 0.75rem;
        height: 0.72rem;
        margin-right: 0.27rem;
      }
      &:nth-child(2){
        img {
          width: 0.67rem;
          height: 0.69rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.67rem;
          height: 0.56rem;
        }
      }
    }
  }
}
