@import '../../pages/var.less';
@media screen and (max-width: @MATCH_WIDTH) {
  .core-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      margin-top: 1.12rem !important;
    }
    &__item {
      position: relative;
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.64rem;
      padding: 0;
      &:before{
        display: block;
        position: absolute;
        left: -25px;
        width: 25px;
        height: 25px;
        background-color: #fff;
      }
      &__img-wrap {
        width: auto;
      }
      &.active {
        padding: 0.3rem 0.2rem;
        // box-shadow: none;
        // background: none;
        margin-bottom: 0.64rem;
        &:before {
          // border-right: 0.5rem solid red;
          // border-bottom: 0.25rem solid transparent;
          // border-top: 0.25rem solid transparent;
          // left: -0.5rem;
          display: none;
        }
        p {
          line-height: initial;
        }
      }
      &__text {
        font-size: 0.37rem;
        line-height: 0.69rem;
      }
    }
  }

  .dsp-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__list {
      .core-content__item {
        &__img-wrap {
          width: 1rem;
          text-align: left;
        }
        &:first-child {
          img {
            width: 0.85rem;
            height: 0.56rem;
          }
        }
        &:nth-child(2) {
          img {
            width: 0.64rem;
            height: 0.64rem;
          }
        }
        &:last-child {
          img {
            width: 0.64rem;
            height: 0.56rem;
          }
        }
      }
    }
  }

  .scenic-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__list {
      padding: 0 0.83rem;
    }
    .core-content__item {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      img {
        width: 0.72rem;
        height: 0.72rem;
        margin-right: 0.13rem;
      }
      &:nth-child(2){
        img {
          margin-top: 0;
        }
      }
    }
  }

  .quick-app-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-top: 0;
      margin-right: 0;
    }
    .core-content__item {
      &__img-wrap {
        width: 1rem;
        text-align: left;
      }
      &:first-child{
        img {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      &:nth-child(2){
        img {
          width: 0.56rem;
          height: 0.56rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.67rem;
          height: 0.61rem;
        }
      }
      &:nth-child(4){
        img {
          width: 0.64rem;
          height: 0.56rem;
        }
      }
      &:nth-child(5){
        img {
          width: 0.64rem;
          height: 0.59rem;
        }
      }
      &:nth-child(6){
        img {
          width: 0.69rem;
          height: 0.61rem;
        }
      }
    }
  }

  .sms-core {
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__item {
      &__text {
        width: 7.33rem;
      }
      &__img-wrap {
        width: 1rem;
        text-align: left;
      }
      &:first-child{
        img {
          width: 0.72rem;
          height: 0.72rem;
        }
      }
      &:nth-child(2){
        img {
          width: 0.75rem;
          height: 0.56rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.61rem;
          height: 0.72rem;
        }
      }
      &:nth-child(4){
        img {
          width: 0.61rem;
          height: 0.67rem;
        }
      }
      &:nth-child(5){
        img {
          width: 0.67rem;
          height: 0.67rem;
        }
      }
    }
  }

  .number-product-core {
    margin-bottom: 1.07rem;
    &>img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
    .core-content__item {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      img {
        width: 0.75rem;
        height: 0.72rem;
        margin-right: 0.27rem;
      }
      &:nth-child(2){
        img {
          width: 0.67rem;
          height: 0.69rem;
        }
      }
      &:nth-child(3){
        img {
          width: 0.67rem;
          height: 0.56rem;
        }
      }
    }
  }
}
