.tab-bar {
  // width:1020;
  height:50px;
  padding: 5px;
  background:rgba(247,247,247,1);
  margin: 0 auto;
  border-radius:6px;
  &__item {
    float: left;
    height: 50px;
    line-height: 50px;
    // width: 20%;
    text-align: center;
    color: #999999;
    font-size: 24px;
    &.active {
      background: #fff;
      border-radius: 6px;
      color: #355EA6;
    }
  }
}