@import '../common.less';
.banner {
  background: url(/static/images/news/banner.png) no-repeat;
}

.cases {
  margin-top: 30px;
  &__content-wrap {
    box-sizing: border-box;
    padding-left: 30px;
  }
  &__content {
    width: 100%;
    &__item {
      // width: 980px;
      background:#fff;
      border-radius: 3px;
      border: 1px solid #D8D8D8;
      padding: 30px 30px 30px 25px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      transition: box-shadow .3s ease-in-out,transform .3s ease-in-out;
      &:hover {
        box-shadow: 2px -1px 15px rgba(0,0,0,.3);
        transform: translate3d(0,-2px,0);
      }
      &__img {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 178px;
        }
      }
      &__info {
        margin-left: 20px;
        flex: 1;
        // float: right;
        position: relative;
        &__title {
          color: #333333;
          font-size: 20px;
        }
        &__desc {
          color: #666;
          font-size: 16px;
          line-height: 30px;
          margin: 20px 0;
        }
        &__tag {
          border-top: 1px solid #D8D8D8;
          color: #666;
          font-size: 16px;
          line-height: 32px;
          .tag__type {
            color: #355EA6;
          }
        }
      }
    }
  }
}

@import '../var.less';
@media screen and (max-width: @MATCH_WIDTH) {
  .cases {
    &__content-wrap {
      padding: 0 15px;
    }
    &__content {
      &__item {
        height: 4.53rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__img {
          img {
            
          }
        }
        &__info {
          display: none;
        }
      }
    }
  }
}