.product {
  margin-right: -30px;
  margin-bottom: 60px;
}
.product__item {
  // width:380px;
  height:222px;
  background:rgba(255,255,255,1);
  border-radius:3px;
  text-align: center;
  float: left;
  margin-bottom: 30px;
  display: table;
  padding: 0 25px;
  &:not(:last-child){
    margin-right: 30px;
  }
  &-content {
   display: table-cell;
    vertical-align: middle;
  }
  img {
    width: 47px;
    height: 47px;
  }
  &__title {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    // display: inline-block;
  }
  &__desc {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    // display: inline-block;
    line-height: 30px;
  }
}
.dsp-product__item {
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    width: 330px;
    height: 222px;
    border-radius: 3px;
}

.scenic-product__item {
  width: 380px;
}
.quick-app-product__item {
  width: 278px;
  height: 222px;
  background:rgba(255,255,255,1);
  box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
  border-radius: 3px;
  text-align: left;
}
@import '../../pages/var.less';

@media screen and (max-width: @MATCH_WIDTH) {
  .dsp-product__item {
    width: 4.4rem;
    height: 4.8rem;
    box-shadow:0rem 0.11rem 0.4rem 0rem rgba(0,0,0,0.1);
    border-radius: 0.08rem;
    text-align: left;
    padding: 0 0.4rem;
    box-sizing: border-box;
    img {
      width: 0.69rem;
      height: 0.77rem;
    }
  }

  .scenic-product__item {
    width: 4.4rem;
    height: 4.8rem;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.27rem;
    margin-right: 0;
    justify-content: space-between;
    margin-bottom: 1.07rem;
    padding: 0 0.45rem ;
    &:before {
      display: none;
    }
  }
  .product__item {
    box-sizing: border-box;
    margin: 0;
    &:not(:last-child){
      margin: 0;
    }
    &__title {
      font-size: 0.43rem;
      margin-top: 0.4rem;
    }
    &__desc {
      font-size: 0.32rem;
      line-height: 0.53rem;
      margin-top: 0.19rem;
    }
  }
  .quick-app-product__item {
    width: 4.4rem;
    height: 4.8rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
    .product__item-content {
      display: flex;
      flex-direction: column;
      margin-top: 0.8rem;
    }
    img {
      width: 0.83rem;
      height: 0.83rem;
    }
  }
}