.product {
  margin-right: -30px;
  margin-bottom: 60px;
}
.product__item {
  // width:380px;
  height:222px;
  background:rgba(255,255,255,1);
  border-radius:3px;
  text-align: center;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  display: table;
  padding: 0 25px;
  &-content {
   display: table-cell;
    vertical-align: middle;
  } 
  img {
    width: 47px;
    height: 47px;
    // display: block;
  }
  &__title {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    // width: 306px;
    display: inline-block;
  }
  &__desc {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    // width: 306px;
    display: inline-block;
    line-height: 30px;
  }
}