:global(.clearfix:after,.clearfix:before){
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

:global(.w ){
  max-width: 1200px;
  margin: 0 auto;
}

ol, ul, dl, p {
  margin-bottom: 0;
}
