.intro {
  font-size: 18px;
  color: #333333;
  line-height: 36px;
  margin-bottom: 80px;
}

.industry-list {
  margin-bottom: 90px;
  &__item {
    width: 285px;
    height: 210px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    border-radius: 1px;
    background: #F8FAFF;
    float: left;
    &:not(:last-child){
      margin-right: 20px;
    }
    img {
      width: 100%;
      height: 118px;
    }
    &__text {
      padding-left: 40px;
      font-size: 24px;
      color: #666666;
      line-height: 102px;
    }
  }
}

@import '../var.less';
@media screen and (max-width: @MATCH_WIDTH) {
  .intro {
    font-size: 0.32rem;
    width: 8.93rem;
    margin: 0 auto;
    margin-bottom: 0.75rem;
    line-height: 0.64rem;
  }
  .industry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.07rem;
    &__item {
      width: 8.13rem;
      height: 2.93rem;
      display: flex;
      flex-direction: row;
      margin-right: 0;
      margin-bottom: 0.43rem;
      &:not(:last-child) {
        margin-right: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__text {
        font-size: 0.48rem;
        padding-left: 0.43rem;
        line-height: 2.93rem;
      }
      img {
        width: 3.25rem;
        height: 100%;
      }
    }
  }
}