
.intro {
  padding-bottom: 90px;
  img {
    width: 1157px;
    height: 947px;
  }
}
.core-content-wrap {
  padding-bottom: 90px;
  .core-content__img {
    float: left;
    width: 296px;
    height: 600px;
    margin-right: 133px;
  }
}
.icon-test {
  width: 0;
}
@import '../var.less';

@media screen and (max-width: @MATCH_WIDTH) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.91rem;
    img {
      width: 8.88rem;
      height: 6.43rem;
    }
  }
  .core-content-wrap {
    padding-bottom: 1.07rem;
    .core-content__img {
      width: 4rem;
      height: 8.13rem;
      margin-right: 0;
    }
  }
}
