.banner {
  width: 100%;
  height: 450px;
  background: linear-gradient(270deg,rgba(50,84,163,1) 0%,rgba(30,54,116,1) 100%);
  position: relative;
  &-content {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 45px;
    // line-height: 360px;
  }
  &__desc {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    color: #fff;
    &__title {
      font-size: 40px;
      font-weight: bold;
    }
    &__content {
      font-size: 18px;
      margin-top: 20px;
    }
  }
  &__img {
    width: 530px;
    height: 299px;
    float: right;
  }
}
.problem {
  margin-bottom: 90px;
}

.core-content {
  &__list {
    float: left;
  }
  &>img {
    width: 296px;
    height: 600px;
    float: left;
  }
  &__item {
    margin-left: 89px;
    margin-bottom: 70px;
    &.active {
      background:rgba(255,255,255,1);
      box-shadow:0px 4px 15px 0px rgba(0,0,0,0.1);
      border-radius: 10px;
      padding: 15px 15px 15px 0px;
      margin-bottom: 55px;
      img {
        height: 66px;
        width: 66px;
        margin-left: 0px;
      }
      p {
        line-height: 66px;
      }
    }
    &__img-wrap {
      float: left;
      width: 114px;
      text-align: center;
    }
    &__text {
      width: 445px;
      float: left;
      color: #333;
      font-size: 18px;
      line-height: 45px;
    }
  }
  &__item:nth-child(2) {
    img {
      width: 54px;
      height: 40px;
    }
    .core-content__item__text {
      line-height: 40px;
    }
  }
  &__item:nth-child(3) {
    img {
      width: 46px;
      height: 54px;
    }
    .core-content__item__text {
      line-height: 54px;
    }
  }
  &__item:nth-child(4) {
    img {
      width: 42px;
      height: 46px;
    }
    .core-content__item__text {
      line-height: 46px;
    }
  }
  &__item:nth-child(5) {
    img {
      width: 49px;
      height: 49px;
    }
    .core-content__item__text {
      line-height: 49px;
    }
  }
}
.product {
  margin-right: -30px;
}
.product__item {
  width:228px;
  height:222px;
  background:rgba(255,255,255,1);
  border-radius:3px;
  text-align: center;
  float: left;
  margin-right: 29px;
  margin-bottom: 29px;
  padding: 0 25px;
  display: table;
  &-content {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  img {
    width: 47px;
    height: 47px;
    // display: block;
  }
  &__title {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    display: inline-block;
  }
  &__desc {
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
  }
}

.tab-bar {
  width:815px;
  height:50px;
  padding: 5px;
  background:rgba(247,247,247,1);
  margin: 0 auto;
  border-radius:6px;
  &__item {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 25%;
    text-align: center;
    color: #999999;
    font-size: 24px;
    &.active {
      background: #fff;
      border-radius: 6px;
      color: #355EA6;
    }
  }
}

.tab-content {
  margin: 90px 0;
  position: relative;
  &__left {
    float: left;
    width: 342px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    p {
      color: #666;
      font-size: 18px;
      line-height: 2;
    }
    &__btn {
      width:187px;
      height:46px;
      background:rgba(53,94,166,1);
      border-radius:28px;
      line-height: 46px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      margin-top: 50px;
    }
  }
  &__right{
    float: right;
    position: relative;
    &__img {
      position: absolute;
      right: -36px;
      top: 57px;
      padding: 18px 13px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow:0px 4px 15px 0px rgba(0,0,0,0.1);
      img {
        width: 357px;
        height: 68px;
      }
    }
    &__item {
      float: left;
      p {
        text-align: center;
        font-size: 22px;
        color: #333;
        margin-top: 20px;
      }
    }
    &__item:nth-child(1) {
      margin-right: 17px;
      img {
        width: 298px;
        height: 630px;
        margin-top: 9px;
      }
    }
    &__item:nth-child(2) {
      img {
        width: 303px;
        height: 639px;
      }
    }
  }
}